{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}

    <h1>Usuários</h1> <a href="{{path('user_create')}}" class="btn btn-sm btn-success">Novo</a>
    <br/>
    <br/>
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Created At</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.createdAt|date('d/m/Y H:i:s')}}</td>
                    <td>
                        <a href="{{path('user_edit', {id: user.id})}}" class="btn btn-sm btn-primary">Editar</a>
                        <a href="{{path('user_remove', {id: user.id})}}" class="btn btn-sm btn-danger">Remover</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
